#show-app.container
  .row-fluid
    .span-12
      %h1
        {{app.title}}
        %a.btn.btn-primary(ng-if="currentUser.id == app.user.id" href='/apps/{{app.id}}/edit')
          Edit!
      %h3
        Developed by {{app.user.name}}
      %p {{app.summary}}
      %ul.links
        %li(ng-repeat="link in app.links" ng-if="link.href != null")
          %a(href="{{link.href}}") {{link.title}}
      %smart-table.table.table-striped(config="dataTableConfig" columns="showAppTableColumns" rows="showAppTableRowData")

