%html
  %head
    %title
      AppChallenge
    = csrf_meta_tags
    = stylesheet_link_tag "application"
  %body(ng-app="AppChallenge")
    #nav
    = yield
    #footer
    = javascript_include_tag "application"


